$dashboard-width: 35%;
$dashboard-transition-time: 0.2s;
$dashboard-wrapper-padding-left: 0;

@mixin dashboard-transition($transition-time) {
  -webkit-transition: all $transition-time ease;
  -moz-transition: all $transition-time ease;
  -o-transition: all $transition-time ease;
  transition: all $transition-time ease;
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
  }
  //@else if $media == wide-screens {
  //  @media only screen and (min-width: 1024px) { @content; }
  //}
}

#wrapper {
  @include respond-to(handhelds) { padding-left: 0; }
  @include respond-to(medium-screens) { padding-left: $dashboard-width; }
  @include dashboard-transition($dashboard-transition-time);
}

#wrapper.toggled {
  @include respond-to(handhelds) { padding-left: $dashboard-width; }
  @include respond-to(medium-screens) { padding-left: 0; }
}

#sidebar-wrapper {
  padding-top: 60px;
  z-index: 1000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  background: #F8F8F8;
  @include respond-to(handheld) {
    width: 0;
    left: $dashboard-width;
    margin-left: -$dashboard-width;
  }
  @include respond-to(medium-screens) { width: $dashboard-width; }
  @include dashboard-transition($dashboard-transition-time);
}

#wrapper.toggled #sidebar-wrapper {
  @include respond-to(handhelds) { width: $dashboard-width; }
  @include respond-to(medium-screens) { width: 0; }
}

#sidebar-header {
  position: fixed;
  left: 0px;
  top: 52px;
  z-index: 100;
  border-bottom: dashed #E1E2E4;
  @include dashboard-transition($dashboard-transition-time);
}

#sidebar-header.toggled {
  @include respond-to(handhelds) { width: $dashboard-width; }
  position: fixed;
  left: 0px;
  top: 52px;
  z-index: 100;
  border-bottom: dashed #E1E2E4;
}

#sidebar-header.maximized {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 52px;
  z-index: 100;
  border-bottom: dashed #E1E2E4;
}

#page-content-wrapper {
  padding: 15px;
  @include respond-to(handhelds) { position: absolute; }
  @include respond-to(medium-screens) { position: relative; }
  @include respond-to(handhelds) { width: 100%; }
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  @include respond-to(handhelds) { margin-right: -$dashboard-width; }
}

#wrapper.maximized {
  @include respond-to(handhelds) { padding-left: 100%; }
  @include respond-to(medium-screens) { padding-left: 0; }
}

#wrapper.maximized #sidebar-wrapper {
  @include respond-to(handhelds) { width: 100%; }
  @include respond-to(medium-screens) { width: $dashboard-width; }
}

#wrapper.maximized #page-content-wrapper {
  position: fixed;
  margin-right: -100%;
}









h3 .panel-heading { display: inline-block; }

#sensor-data-viz, #sensor-data-viz-2 {
  border: dotted;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 240px;
  height: 240px;
}

.tab-content {
  padding: 40px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus  {
  background: #F8F8F8;
}
/*
#sensor-data-viz { position: relative; left: 5px; right: 30px; top: 30px; bottom: 30px; }

/*
#sensor-data-viz {
    border-style: dotted;
}*/

#sidebar-title {
  font-size: larger;
}

#sidebar-title-icon {
  top: 2px;
  margin-right: 5px;
}

.checkbox-toolbar {
  margin: 0 auto;
  overflow:hidden;
  width:90%
}


.checkbox-toolbar div {
  margin: 0px 10px 10px 10px;
}


.col-sm-4 div {
  margin: 0 auto;
}

#combined-graphs-menu div {
  min-width: 155px;
}

#combined-graphs-menu .combined-graphs-menu-item {
  text-align: center;
  margin: auto
}

.combined-graphs-menu-item h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#combined-graphs-plot-button {
  margin: 15px 15px;
}

