$dashboard-width: 35%;
$dashboard-desktop-min: 845px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

#dashboard-wrapper {
  @include dashboard-transition($splitter-transition-time);
  background: $color-light-theme;
}

#dashboard-wrapper .tab-content {
  padding: 7px;
  @include respond-to('wide-screens') {
    padding-left: 5%;
    padding-right: 5%;
  }
}

#dashboard-header div {
  padding-right: 5px;
}

#maximize {
  @media screen and (max-width: $dashboard-desktop-min) {
    display: none;
  }
}

#sensor-data-viz, #sensor-data-viz-2 {
  border: dotted;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 240px;
  height: 240px;
}

/* Combined Graphs Area */
#all-quads .row {
  margin: 0;
}

.checkbox-toolbar {
  margin: 0 auto;
  overflow:hidden;
  width:90%
}

.checkbox-toolbar div {
  margin: 0px 10px 10px 10px;
}

#combined-graphs-menu div {
  min-width: 155px;
}

#combined-graphs-menu .combined-graphs-menu-item {
  text-align: center;
  margin: auto
}

.combined-graphs-menu-item h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#combined-graphs-plot-button {
  margin: 15px 15px;
}

.col-sm-4 div {
  margin: 0 auto;
}
