$dashboard-width: 50%;
$dashboard-transition-time: 0.2s;

@mixin dashboard-transition($transition-time) {
  -webkit-transition: all $transition-time ease;
  -moz-transition: all $transition-time ease;
  -o-transition: all $transition-time ease;
  transition: all $transition-time ease;
}

#wrapper {
  padding-left: 0;
  @include dashboard-transition($dashboard-transition-time);
}

#wrapper.toggled {
  padding-left: $dashboard-width;
}

#wrapper.toggled #sidebar-wrapper {
  width: $dashboard-width;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -$dashboard-width;
}

#sidebar-wrapper {
  padding-top: 60px;
  z-index: 1000;
  position: fixed;
  left: $dashboard-width;
  width: 0;
  height: 100%;
  margin-left: -$dashboard-width;
  overflow-y: auto;
  background: #F8F8F8;
  @include dashboard-transition($dashboard-transition-time);
}

#sidebar-header {
  position: fixed;
  left: 0px;
  top: 52px;
  z-index: 100;
  border-bottom: dashed #E1E2E4;
  @include dashboard-transition($dashboard-transition-time);
}

#sidebar-header.toggled {
  width: $dashboard-width;
  position: fixed;
  left: 0px;
  top: 52px;
  z-index: 100;
  border-bottom: dashed #E1E2E4;
}

#sidebar-header.maximized {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 52px;
  z-index: 100;
  border-bottom: dashed #E1E2E4;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* Sidebar Styles */

@media(min-width:768px) {
  #wrapper {
    padding-left: $dashboard-width;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #wrapper.maximized {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: $dashboard-width;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #wrapper.maximized #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #wrapper.maximized #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

#wrapper.maximized {
  padding-left: 100%;
}

#wrapper.maximized #sidebar-wrapper {
  width: 100%;
}

#wrapper.maximized #page-content-wrapper {
  position: fixed;
  margin-right: -100%;
}

h3 .panel-heading { display: inline-block; }



@media(min-width:768px) {

}

#sensor-data-viz, #sensor-data-viz-2 {
  border: dotted;
  margin: 10px auto;
  margin-bottom: 30px;
  width: 240px;
  height: 240px;
}

.tab-content {
  padding: 40px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus  {
  background: #F8F8F8;
}
/*
#sensor-data-viz { position: relative; left: 5px; right: 30px; top: 30px; bottom: 30px; }

/*
#sensor-data-viz {
    border-style: dotted;
}*/

#sidebar-title {
  font-size: larger;
}

#sidebar-title-icon {
  top: 2px;
  margin-right: 5px;
}

.checkbox-toolbar {
  margin: 0 auto;
  overflow:hidden;
  width:90%
}


.checkbox-toolbar div {
  margin: 0px 10px 10px 10px;
}


.col-sm-4 div {
  margin: 0 auto;
}

#combined-graphs-menu div {
  min-width: 155px;
}

#combined-graphs-menu .combined-graphs-menu-item {
  text-align: center;
  margin: auto
}

.combined-graphs-menu-item h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#combined-graphs-plot-button {
  margin: 15px 15px;
}

