#controller-pane {
	z-index: 1;
	position: absolute;
	background: rgba(109, 107, 101, 0.28);
	left: 39%;
	margin: 8px auto;
	display:inline-block;
}

#page-content-wrapper {
    padding: 0px;
    margin: 0 auto;
    z-index: 1000;
}

.navbar {
    margin-bottom: 0px;
}

#map-area {
    padding: 0px;
}

#map-canvas{
    width: 100%;
    height: 100%;
}

#map-tool {
    margin-right: 10px;
}