<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dygraphs Benchmark</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
	<script src="http://dygraphs.com/extras/synchronizer.js"></script>
</head>
<body>
	<div id="dygraph-1"></div>

	<h1>Dygraph Tests</h1>
	<h2>Performance</h2>

	<h2>Toolbar</h2>
	<form class="text-center dygraph-plot-and-toolbar-wrapper">
		<div class="row dygraph-plot-row-wrapper">
			<div class="col-sm-2 text-center"></div>
			<div class="col-sm-8 text-center graph-container">
				<div id="dygraph-2" style="width:100%" class="dygraph-plot"></div>
			</div>
			<div class="col-sm-2 text-center"></div>
		</div>
		<div class="text-center">
			<b>Zoom:</b>
			<div class="btn-group" role="group" aria-label="...">
				<button name="hour" type="button" class="btn btn-default">hour</button>
				<button name="day" type="button" class="btn btn-default">day</button>
				<button name="week" type="button" class="btn btn-default">week</button>
				<button name="month" type="button" class="btn btn-default">month</button>
				<button name="full" type="button" class="btn btn-default">full</button>
			</div>
			<b>Pan:</b>
			<div class="btn-group" role="group" aria-label="...">
				<button name="left" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></button>
				<button name="right" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</form>

	<h2>Sync</h2>
	<form class="text-center dygraph-plot-and-toolbar-wrapper">
		<div class="row dygraph-plot-row-wrapper">
			<div class="col-sm-2 text-center"></div>
			<div class="col-sm-8 text-center graph-container">
				<div id="dygraph-3" style="width:100%" class="dygraph-plot"></div>
			</div>
			<div class="col-sm-2 text-center"></div>
		</div>
		<div class="text-center">
			<b>Zoom:</b>
			<div class="btn-group" role="group" aria-label="...">
				<button name="hour" type="button" class="btn btn-default">hour</button>
				<button name="day" type="button" class="btn btn-default">day</button>
				<button name="week" type="button" class="btn btn-default">week</button>
				<button name="month" type="button" class="btn btn-default">month</button>
				<button name="full" type="button" class="btn btn-default">full</button>
			</div>
			<b>Pan:</b>
			<div class="btn-group" role="group" aria-label="...">
				<button name="left" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></button>
				<button name="right" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</form>

</body>
<script type="text/javascript" src="../../static/js/tests/4.js"></script>
</html>