<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Simple Sidebar - Start Bootstrap Template</title>

	<!-- Dynographs -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->

	<!-- Custom CSS -->
	<link href="../static/css/simple-sidebar.css" rel="stylesheet">

	<![endif]-->

	<!-- Maps information goes here -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyHouJvIaHwiAcMpxP152Vfd0INgbawjo"></script>
	<script type="text/javascript" src="../static/js/google-maps.js"></script>
	<link rel="stylesheet" href="../static/css/maps.css" />

</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">GeoSync OptiRTC</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Map</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			<a class="navbar-text navbar-right" id="map-tool">Map Tool</a>
		</div>
	</nav>

	<div id="wrapper" class="toggled">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">

			<div id="sidebar-header">
				<nav class="navbar-default">
					<div class="container-fluid">
					<ul class="nav navbar-nav">
				  <li><a id="sidebar-title" href="#"><span id="sidebar-title-icon"
														   class="glyphicon glyphicon-dashboard"></span>Dashboard
				  </a></li>
				</ul>
					<ul class="nav navbar-nav navbar-right">

					<li>
						<a href="#" id="maximize" class="btn btn-link btn-sm" onclick="maximizeToolbar()"
						   data-toggle="tooltip" data-placement="right" title="Maximize Toolbar">
							<span class="glyphicon glyphicon-resize-full"></span>
						</a>
					</li>
				  <li>
					<a href="#" id="close" class="btn btn-link btn-sm" onclick="closeToolbar()"
						data-toggle="tooltip" data-placement="right" title="Close Toolbar">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
				  </li>
				</ul>
					</div>
				</nav>
			</div>

			<div>
				<h4>Quadrants</h4>
				<ul class="nav nav-tabs" id="selection-tabs">
					<li class="active"><a href="#quad-1">Quad 1</a></li>
					<li><a href="#quad-2">Quad 2</a></li>
					<li><a href="#quad-3">Quad 3</a></li>
					<li><a href="#quad-4">Quad 4</a></li>
					<li><a href="#all-quads">All</a></li>
				</ul>
			</div>

			<div class="tab-content">
				<div id="quad-1" class="tab-pane fade in active">
				</div>
				<div id="quad-2" class="tab-pane fade">
				</div>
				<div id="quad-3" class="tab-pane fade">
				</div>
				<div id="quad-4" class="tab-pane fade">
				</div>
				<div id="all-quads" class="tab-pane fade">

				<div class="row">
				  <div class="col-sm-4">
					  <div>Quadrants:</div><div id="test">
							<label class="checkbox-inline">
								<input type="checkbox" name="Quadrant" value="q-1">1
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="Quadrant" value="q-2">2
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="Quadrant" value="q-3">3
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" name="Quadrant" value="q-4">4
							</label>
						</div>

				  </div>
				  <div class="col-sm-4">reeee</div>
				  <div class="col-sm-4">.col-sm-4</div>
				</div>


					<!--<div class="container">-->
						<!--<form role="form">-->
    				<!--<div class="row row-centered">-->

					<!--&lt;!&ndash;<div class="row-fluid">&ndash;&gt;-->
    					<!--&lt;!&ndash;<div class="span10">&ndash;&gt;-->
    						<!--&lt;!&ndash;<div class="checkbox-toolbar">&ndash;&gt;-->
								<!--<div class="col-xs-3 col-centered col-fixed">Quadrants:-->
									<!--<label class="checkbox-inline">-->
										<!--<input type="checkbox" name="Quadrant" value="q-1">1-->
									<!--</label>-->
									<!--<label class="checkbox-inline">-->
										<!--<input type="checkbox" name="Quadrant" value="q-2">2-->
									<!--</label>-->
									<!--<label class="checkbox-inline">-->
										<!--<input type="checkbox" name="Quadrant" value="q-3">3-->
									<!--</label>-->
									<!--<label class="checkbox-inline">-->
										<!--<input type="checkbox" name="Quadrant" value="q-4">4-->
									<!--</label>-->
								<!--</div>-->
								<!--<div class="col-xs-2 col-centered col-fixed">Probes:-->
									<!--<label class="checkbox-inline">-->
										<!--<input type="checkbox" name="Probe" value="p-1">1-->
									<!--</label>-->
									<!--<label class="checkbox-inline">-->
										<!--<input type="checkbox" name="Probe" value="p-2">2-->
									<!--</label>-->
								<!--</div>-->
								<!--<div class="col-xs-2 col-centered col-fixed">Temp:-->
					<!--<label class="checkbox-inline">-->
						<!--<input type="checkbox" name="Temp" value="t-1">1-->
					<!--</label>-->
					<!--<label class="checkbox-inline">-->
						<!--<input type="checkbox" name="Temp" value="t-2">2-->
					<!--</label>-->
				<!--</div>-->
    						<!--&lt;!&ndash;</div>&ndash;&gt;-->
    					<!--</div>-->
							<!--</form>-->
					<!--</div>-->

				<button type="button" class="btn btn-primary btn-xs" onclick="generateMixedGraphs()">Plot Graphs</button>
				<div id="plotArea"></div>

				</div>
			</div>
		</div>
		<!-- End of Sidebar -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div id="map-area" class="container-fluid">
				<div style="position: absolute; left: 50%;">
					<div id="controller-pane" class="btn-group">
						<button type="button" class="btn btn-default" onclick="openToolbar()">Dashboard</button>
						<button type="button" class="btn btn-default" onclick="showSites()">Show Sites</button>
						<button type="button" class="btn btn-default" onclick="clearMap()">Clear Map</button>
					</div>
				</div>
				<div id="map-canvas"></div>
			</div>
		</div>
		<!-- End of Page Content -->

	</div>
	<!-- /#wrapper -->


	<!-- Bootstrap Core JavaScript -->
	<!--<script src="../static/js/bootstrap.min.js"></script>-->

	<!-- Menu Toggle Script -->
	<script>

	$(window).resize(function () {
		var h = $(window).height(),
			offsetTop = 52; // Calculate the top offset
		$('#map-canvas').css('height', (h - offsetTop));
	}).resize();
	</script>

</body>

</html>
