<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>GeoSync OptiRTC MAP TOOL</title>

	<!-- Dygraph -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <!--<script src="http://dygraphs.com/extras/synchronizer.js"></script>-->
    <script src="../static/js/sync.js"></script>

    <!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet"
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->

	<!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/split-pane.css"/>
    <script src="../static/js/split-pane.js"></script>

	<link rel="stylesheet" href="../static/css/dygraphs.css">
	<![endif]-->


    <link rel="stylesheet" href="../static/css/map-tool.css"/>


    <!-- Maps information goes here -->
	<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyHouJvIaHwiAcMpxP152Vfd0INgbawjo"></script>
	<script type="text/javascript" src="../static/js/dashboard.js"></script>
	<script type="text/javascript" src="../static/js/dom-generator.js"></script>
	<script type="text/javascript" src="../static/js/graphs.js"></script>
    <script type="text/javascript" src="../static/js/google-maps.js"></script>

</head>

<body>
<nav id="top-navbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-haspopup="true" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="/">GeoSync OptiRTC</a>
		</div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Map</a></li>
                <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Map Tool V-0.1</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Help about this tool.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Main Content-->
<div class="main-split-pane-frame"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
    <div class="split-pane vertical-percent">
        <div class="split-pane-component closed" id="left-component">
            <!-- dashboard -->
            <div id="dashboard-wrapper">
                <div id="dashboard-header">
                    <div class="navbar navbar-default">
                        <div class="navbar-header pull-left">
                            <a id="dashboard-title"  href="#" class="navbar-text navbar-right"><span
                                    id="dashboard-title-icon" class="glyphicon glyphicon-dashboard">
                            </span> Dashboard</a>
                        </div>
                        <div class="navbar-header pull-right">
                            <button id="maximize" type="button" class="btn btn-default navbar-btn btn-xs">
                                <span class="glyphicon glyphicon-resize-full"></span></button>
                            <button id="close" type="button" class="btn btn-default navbar-btn btn-xs" data-toggle="tooltip" data-placement="right" title="Close Dashboard">
                                <span class="glyphicon glyphicon-chevron-left"></span></button>
                        </div>
                    </div>
                </div>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">About CEER</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Data Plotter</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div>
                                    <ul class="nav nav-tabs" id="selection-tabs">
                                        <li class="active"><a href="#all-quads" role="tab" data-toggle="tab">Quadrants</a></li>
                                        <li><a role="tab" data-toggle="tab" href="#rain">Rain</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <div id="all-quads" role="tabpanel" class="tab-pane active">
                                        <div id="combined-graphs-menu" class="row">

                                            <div class="btn-toolbar" role="toolbar" aria-label="...">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                                    <div><h6>Quadrants</h6></div>
                                                    <button type="button" class="btn btn-default">1</button>
                                                    <button type="button" class="btn btn-default">2</button>
                                                    <button type="button" class="btn btn-default">3</button>
                                                    <button type="button" class="btn btn-default">4</button>
                                                </div>
                                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                                    <div><h6>Probes</h6></div>
                                                    <button type="button" class="btn btn-default">1</button>
                                                    <button type="button" class="btn btn-default">2</button>
                                                </div>
                                                <div class="btn-group btn-group-sm text-center" role="group" aria-label="...">
                                                    <div><h6>Temp</h6></div>
                                                    <button type="button" class="btn btn-default">1</button>
                                                </div>

                                                <div class="btn-group btn-group-sm text-center">
                                                    <div><h6>Temp</h6></div>
                                                    <button type="button" class="btn btn-default">Sony</button>
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Tablet</a></li>
                                                        <li><a href="#">Smartphone</a></li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <!--<div class="col-sm-4 combined-graphs-menu-item">-->
                                            <!--<div><h6>Quadrants</h6></div>-->
                                            <!--<div>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="Quadrant"-->
                                            <!--value="quad-1">1-->
                                            <!--</label>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="Quadrant"-->
                                            <!--value="quad-2">2-->
                                            <!--</label>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="Quadrant"-->
                                            <!--value="quad-3">3-->
                                            <!--</label>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="Quadrant"-->
                                            <!--value="quad-4">4-->
                                            <!--</label>-->
                                            <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="col-sm-4 combined-graphs-menu-item">-->
                                            <!--<div><h6>Probes</h6></div>-->
                                            <!--<div>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="Probe"-->
                                            <!--value="probe-1">1-->
                                            <!--</label>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="Probe"-->
                                            <!--value="probe-2">2-->
                                            <!--</label>-->
                                            <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="col-sm-4 combined-graphs-menu-item">-->
                                            <!--<div><h6>Temp</h6></div>-->
                                            <!--<div>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="Temp"-->
                                            <!--value="temperature-1">1-->
                                            <!--</label>-->
                                            <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="row">-->

                                            <!--<div class="col-sm-4 combined-graphs-menu-item">-->
                                            <!--<div><h6>View mode</h6></div>-->
                                            <!--<form id="combine-synchronize" role="form">-->
                                            <!--<label class="radio-inline">-->
                                            <!--<input type="radio" name="optradio" value="default" checked="checked">Separated-->
                                            <!--</label>-->
                                            <!--<label class="radio-inline">-->
                                            <!--<input type="radio" name="optradio" value="combine">Combined-->
                                            <!--</label>-->
                                            <!--<label class="radio-inline">-->
                                            <!--<input type="radio" name="optradio" value="synchronize">Synchronized-->
                                            <!--</label>-->
                                            <!--</form>-->
                                            <!--</div>-->

                                            <!--<div class="col-sm-4 combined-graphs-menu-item">-->
                                            <!--<div><h6>Show Average</h6></div>-->
                                            <!--<div>-->
                                            <!--<label class="checkbox-inline">-->
                                            <!--<input type="checkbox" name="average"-->
                                            <!--value="average">Yes-->
                                            <!--</label>-->
                                            <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="col-sm-4 combined-graphs-menu-item"></div>-->
                                            <!--</div>-->

                                        </div>
                                        <div class="text-center">
                                            <button id="combined-graphs-plot-button" type="button"
                                                    class="btn btn-primary btn-sm"
                                                    onclick="generateMixedGraphs()">Plot Graphs
                                            </button>
                                        </div>
                                        <hr>
                                        <div id="plot-area"></div>
                                        <!--<div class="row dygraph-plot-row-wrapper">-->
                                        <!--<div class="col-sm-2 text-center"></div>-->
                                        <!--<div class="col-sm-8 text-center graph-container">-->
                                        <!--<div id="mixed-probes" style="width:100%"></div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-2 text-center"></div>-->
                                        <!--</div>-->
                                        <!--<div class="row dygraph-plot-row-wrapper">-->
                                        <!--<div class="col-sm-2"></div>-->
                                        <!--<div class="col-sm-8 text-center graph-container">-->
                                        <!--<div id="mixed-temperatures" style="width:100%"></div>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-2"></div>-->
                                        <!--</div>-->
                                    </div>
                                    <div id="rain" role="tabpanel" class="tab-pane"><p>Test</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">More</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of dashboard -->
        </div>
        <div class="split-pane-divider invisible" id="my-divider"></div>
        <div class="split-pane-component maximized-r" id="right-component">
            <div id="map-area" class="container-fluid">
                <div id="map-toolbar-wrapper" class="wrapper text-center">
                    <div id="map-toolbar"></div>
                </div>
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>

<!-- Menu Toggle Script -->
<script>

    $(window).resize(function () {
        var h = $(window).height(),
            offsetTop = 52; // Calculate the top offset
        $('#map-canvas').css('height', (h - offsetTop));
    }).resize();

</script>

</body>

</html>
